.contacto-formulario{
    display: flex;
}

.column-left{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.column-left input{
    font-family: "Agdasima", serif;
    font-weight: 400;
    width: 200px;
    height: 40px;
}

.textarea-contacto-container{
    margin-left: 30px;
    
}

.comentario-contacto{
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    height: 155px;
    width: 400px;
    resize: none;
}

.button-form{
    height: 50px;
    display: none;
}

.button-form-2{
    height: 50px;
}

.list-info-contact-container{
    margin-top: -20px;
}

.list-info-contact-container img{
    width: 20px;
    height: 20px;
}

.icon-list-info-contact-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-list-info-contact-container button{
    width: 20px;
    height: auto;
    padding: 0;
}

.icon-list-info-contact-container button img{
    width: 15px;
    height: auto;
    padding: 0;
}

@media (max-width: 768px) {
    .contacto-formulario{
        display: block;
    }

    .textarea-contacto-container{
        width: 200px;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .list-info-contact-container{
        margin-top: 20px;
        margin-left: -40px;
    }

    .comentario-contacto{
        font-family: "Agdasima", sans-serif;
        font-weight: 400;
        height: 120px;
        width: 200px;
        resize: vertical;
    }

    .button-form{
        display: block;
    }

    .button-form-2{
        height: 50px;
        display: none;
    }
}