.skill-container{
    display: flex;
    justify-content: flex-start;
    gap: 15px 40px;
    flex-wrap: wrap;
}

.skill-container figure{
    text-align: center;
    width: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    margin: 0;
}

.skill-container figure img{
    height: 40px;
    width: 40px;
}