.habilidades img{
    height: 15px;
    width: 15px;
}

.img-skill-cont{
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

.img-skill{
    height: 30px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.desc-skill-cont{
    align-items: center;
    justify-content: center;
}